%p
  =Time.duree(Time.at(session[:debut]))+' '
  \
  =current_user.stats(session[:bonnes_reponses],session[:mauvaises_reponses])

=hidden_field_tag 'id', value = params[:id]
=hidden_field_tag 'attendu', value = params[:attendu]
=hidden_field_tag 'question', value = params[:question]

-if params[:message] == nil
  %br
-elsif params[:message]
  -if @objet.prononciation
    #attendu=params[:attendu]+' ['+@objet.prononciation+']'
  -else
    #attendu=params[:attendu]
  #bravo Bravo !
  %br
-else
  #erreur Erreur ! La réponse attendue est
  -if @objet.prononciation
    #attendu=params[:attendu]+' ['+@objet.prononciation+']'
  -else
    #attendu=params[:attendu]
  =text_field_tag 'ecrire', '', autofocus: true
  %br
%br
%h1=params[:question]
%h1=text_field_tag 'reponse', '', autocomplete: :off,autofocus: true, disabled: params[:message] != nil

%br
%br
-if params[:message] == nil
  =button_tag 'Vérifier'
-else
  =button_tag 'Autre question', autofocus: true
%br

