%h1 Listing traductions

%table
  %tr
    %th Anglais
    %th Francais
    %th Catégorie

  - @traductions.each do |traduction|
    %tr
      %td= traduction.anglais
      %td= traduction.francais
      %td= traduction.category_id

